/* https://github.com/amycesal/dataviz-style-guide/blob/master/Sunlight-StyleGuide-DataViz.pdf */
.dropdown {
  margin: 0 2em;
}

.axisLabel {
  text-anchor: middle;
  font-size: 2.25em;
}

.tick {
  fill: #635f5d;
  cursor: default;

  line {
    stroke: #c0c0bb;
  }
}

.mark {
  fill: #137b80;
}
